.productOverview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products:nth-child(1) {
    background-color: lightgreen;
    color: green;
    border: 1px solid green;
}

.products:nth-child(2) {
    background-color: lightblue;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
.products:nth-child(3) {
    background-color: lightpink;
    color: hotpink;
    border: 1px solid hotpink;
}


.tvInfo {
    border-radius: 4px;
    padding: 16px 32px;
    margin: 8px 0;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
    border: 1px solid red;
}


.product-image {
    max-width: 200px;
}

.tvInfoText {
    .products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

}
